<html>
    <body>
        <div>
            <p> Hello <%= name%>,</p>
               <p>  You have been invited by <%= adminName%> to use our platform.</p>
            <p> Your verification code is <%= verificationCode%>.</p>
            <p>Use this code to setup your password.</p>
            <p> Thanks.</p>
        </div>
    </body>
</html>